@keyframes maquina {
  from {
    width: 100%; }
  to {
    width: 0; } }

@keyframes bounce {
  0%, 20%, 50%, 100% {
    transform: translate(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(70vh - 70px);
  width: 100%; }

.error-message__container {
  text-align: center;
  color: black;
  font-weight: bold; }

.error-message__container h1 {
  font-size: 150px; }

.error-message__container p {
  font-size: 38px; }

.bounce {
  animation-name: bounce; }

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite; }

* {
  padding: 0px;
  margin: 0px; }

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: white; }

ul, li, a {
  text-decoration: none;
  list-style: none; }

h1 {
  justify-self: center;
  font-size: 22pt;
  padding-top: 12px;
  font-weight: 600; }

main {
  padding-bottom: 40px; }
  main h3 {
    text-align: center; }

div section {
  display: grid;
  justify-content: center; }

.navbar-brand img {
  width: 95px; }

#nombreProducto {
  color: gray;
  font-size: 12pt;
  font-weight: 600; }

#precioProducto {
  color: black;
  font-size: 13pt; }

header {
  width: 100%;
  color: black;
  text-decoration: none;
  list-style: none; }
  header a {
    color: black; }

.contenedor {
  display: grid;
  grid-template-rows: auto auto auto; }

.navLogo {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  align-items: center;
  justify-items: center;
  display: none; }

.element1 {
  align-self: start;
  justify-self: center;
  display: none; }

.element2 {
  justify-self: center; }
  .element2 img {
    width: 100px; }

.element3 {
  display: grid; }
  .element3 span {
    display: none; }
  .element3 a {
    font-size: 8pt; }

.row a {
  color: black;
  font-size: 9pt; }

.productosMate {
  display: grid;
  grid-template-rows: auto auto; }

.eslogan {
  margin: auto;
  display: table; }
  .eslogan h2 {
    font-size: 8pt;
    font-style: italic;
    text-align: left;
    font-weight: 600;
    float: left;
    position: relative; }

.enviosAlpais {
  text-align: center;
  margin-top: 25px; }

.mates {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  margin-top: 60px; }

.mate {
  padding: 11px 0; }
  .mate img {
    width: 100%; }
  .mate h3 {
    font-size: 14pt; }

.tituloProductos {
  text-decoration: none;
  list-style: none;
  font-size: 18pt; }
  .tituloProductos a {
    color: gray; }

.allProducts {
  display: none; }

.tituloGaleria {
  text-align: center; }

.galeriaFotos img {
  margin: 2px 0 2px 0;
  width: 100%; }

#principioGaleria {
  width: 100%; }

.restoGaleria {
  padding-top: 20px; }

.contacto {
  display: grid; }
  .contacto h1 {
    text-align: center;
    font-size: 18pt; }

#mapaContacto {
  display: none; }

.formularioContacto {
  display: grid;
  justify-content: center;
  margin: 30px 20px 0 20px;
  text-align: center; }

.iniciar {
  display: grid;
  margin-top: 35px; }

.rellenoInicio {
  display: grid;
  text-align: center;
  margin: 30px 20px 90px 20px; }
  .rellenoInicio a {
    text-decoration: underline;
    color: #01016b; }

.recuperarPass {
  display: flex;
  justify-content: center;
  margin: 0 0 15px 0; }

.registro {
  display: grid;
  margin: 20px; }

.registroEspacios {
  display: grid;
  justify-content: center;
  text-align: center; }

.coorp {
  display: grid; }
  .coorp p {
    text-align: center;
    margin-top: 20px; }

#fondoCoorp {
  width: 100%; }

.redesSociales {
  text-align: center; }

.redesSociales i {
  font-size: 14pt;
  color: white; }

.navFooter {
  display: none; }

.mediosDepago {
  display: none; }

footer {
  color: white;
  font-size: 9pt;
  background-color: black; }
  footer h4 {
    font-size: 10px;
    font-weight: 600; }

.footerContenedor {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  padding: 10px 0 10px 0; }

div h4 {
  padding: 5px 0 5px 0; }

#copyright {
  display: grid;
  justify-items: center; }
  #copyright h5 {
    font-size: 8px; }

a.movil {
  color: #fff;
  text-decoration: none; }
  a.movil:hover {
    color: inherit; }

/*************************************/
@media only screen and (min-width: 1280px) {
  .carousel {
    display: flex;
    justify-content: center; }
  .vuelticas {
    width: 35rem; }
  .navLogo {
    display: grid; }
  .navbar-brand img {
    display: none; }
  .element1 {
    display: block;
    margin-top: 10px; }
  .navLogo i {
    display: none; }
  .element2 img {
    width: 150px; }
  .container {
    display: grid; }
  .row {
    display: grid;
    justify-content: center; }
    .row a {
      font-size: 14pt; }
  .element3 {
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    align-self: start;
    padding-top: 10px; }
    .element3 span {
      display: block; }
    .element3 a {
      padding: 0 10px;
      font-size: 11pt; }
  h1 {
    font-size: 45pt;
    font-weight: 600;
    padding: 40px 0 10px 0; }
  .eslogan h2 {
    font-size: 18pt;
    font-weight: 500;
    padding: 0 0 25px 0; }
  .eslogan span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    border-left: 1px solid #000;
    animation: maquina 5s infinite alternate steps(58); }
  .mates {
    grid-template-columns: repeat(5, auto); }
  .mate {
    padding: 0 5px; }
  .mediosDepago {
    display: block; }
    .mediosDepago i {
      font-size: 20px;
      padding: 1px 2px; }
  .navFooter {
    display: block; }
    .navFooter a {
      color: white;
      text-decoration: none;
      list-style: none; }
  .pieDepagina {
    grid-template-rows: auto auto;
    padding: 14px 0; }
  .footerContenedor {
    grid-template-rows: auto;
    grid-template-columns: repeat(5, auto);
    justify-items: center; }
  .mapa h4 {
    text-align: center; }
  .mapa iframe {
    width: 100%; }
  #copyright h5 {
    font-weight: 300;
    font-size: 8pt; }
  .botones a {
    padding: 4px 7px; }
  .enviosAlpais {
    font-size: 16pt;
    margin-top: 100px; }
  .allProducts {
    display: block; }
    .allProducts h2 {
      margin-top: 20px;
      font-size: 15pt; }
  .listaProductos a {
    color: black; }
  .grillaProductos {
    display: grid;
    grid-template-columns: auto auto; }
  .divisionProductos {
    margin: 10px 100px 0 20px; }
  .inicioYcreo {
    display: none; }
  .tituloGaleria {
    text-align: center;
    font-size: 45pt; }
  .galeriaFotos img {
    display: flex;
    margin: 2px 0 2px 0;
    width: 350px; }
  .restoGaleria {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 70px 30px 10px 30px; }
    .restoGaleria img {
      padding: 15px; }
  #principioGaleria {
    width: 550px; }
  .portadaGaleria {
    display: flex;
    justify-content: center; }
  .coorp {
    display: grid; }
    .coorp p {
      font-size: 20pt;
      font-weight: lighter; }
  .tituloComp {
    font-size: 45pt; }
  .fotosCoorp {
    display: grid;
    justify-content: center;
    margin-top: 20px; }
  #fondoCoorp {
    width: 43rem; }
  .contenidoContacto {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 200px 0 200px; }
  .contacto {
    display: grid; }
    .contacto h1 {
      font-size: 45pt; }
  .formularioContacto {
    text-align: center; }
    .formularioContacto div {
      width: 100%; }
  #mapaContacto {
    display: flex; }
    #mapaContacto iframe {
      width: 500px;
      height: 500px; }
  .registro div {
    width: 100%; }
  .registro h1 {
    font-size: 45pt; }
  .registroEspacios {
    font-size: 14pt; }
  .iniciar h1 {
    font-size: 45pt; }
  .rellenoInicio {
    font-size: 15pt;
    display: grid; }
  .ingresarUsuario div {
    width: 100%; } }

/**************************/
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .element1 {
    display: block;
    margin-top: 10px; }
  .navLogo i {
    display: none; }
  .element2 img {
    width: 195px; }
  .element3 {
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    align-self: start;
    padding-top: 10px; }
    .element3 span {
      display: block; }
    .element3 a {
      padding: 0 10px;
      font-size: 9.5pt;
      font-weight: 600; }
  .element4 a {
    font-size: 14pt; }
  h1 {
    font-size: 41pt;
    padding: 40px 0 10px 0; }
  .eslogan h2 {
    font-size: 16pt; }
  .productosMate {
    margin-top: 25px; }
  .mates {
    grid-template-columns: repeat(2, auto); }
  .mate {
    padding: 7px; }
  .pieDepagina {
    grid-template-rows: auto;
    padding: 14px 0; }
  .footerContenedor {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, auto);
    justify-items: center; }
  .mapa h4 {
    text-align: center; }
  #copyright h5 {
    font-weight: 300;
    font-size: 10pt; }
  footer h4 {
    font-size: 13pt;
    font-weight: 600; }
  .contactoFooter i {
    font-size: 12pt; }
  .contactoFooter span {
    font-size: 13pt; }
  .redesSociales {
    text-align: center; }
    .redesSociales i {
      font-size: 22px; }
  .botones a {
    padding: 4px 7px; }
  #logoInicio {
    width: 170px; }
  #navbarNavDropdown a {
    font-size: 17pt; }
  .container-fluid button {
    width: 80px;
    height: 70px; }
  .navbar-toggler-icon {
    width: 50px; }
  .registroEspacios {
    font-size: 18pt;
    margin-top: 22px;
    text-align: start; }
  .rellenoInicio {
    display: grid;
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: 245px; }
  .ingresarUsuario .form-check {
    display: flex;
    justify-content: center; }
  .ingresarUsuario button {
    font-size: 15pt; }
  .contacto h1 {
    font-size: 40pt; }
  .formularioContacto {
    font-size: 19pt; }
    .formularioContacto .form-check {
      display: flex;
      justify-content: center; }
  .coorp p {
    font-size: 18pt; }
  .tituloProductos {
    font-size: 22pt; }
  #nombreProducto {
    font-size: 13pt; }
  #precioProducto {
    font-size: 15pt; }
  .enviosAlpais {
    font-size: 17pt;
    margin-top: 70px; }
  .restoGaleria {
    margin-top: 20px;
    padding: 0 10px 0 10px; }
    .restoGaleria img {
      width: 23.2rem; } }
