// ANIMACIONES
// Maquina de escribir
@keyframes maquina {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
// Página error 404
@keyframes bounce{
    0%, 20%, 50%, 100% {transform: translate(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
.error-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(70vh - 70px);
    width: 100%;
}
.error-message__container{
    text-align: center;
    color: black;
    font-weight: bold;
}
.error-message__container h1{
    font-size: 150px;
}
.error-message__container p{
    font-size: 38px;
}
.bounce{
    animation-name: bounce;
}
.animated{
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}